.sorting-visualizer {
  text-align: center;
}

.controls {
  margin-bottom: 20px;
}

button, select {
  margin: 0 5px;
  padding: 10px;
  font-size: 16px;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  width: 90%;
  margin: 0 auto;
}

.array-bar {
  width: 5px;
  background-color: #3498db;
  margin: 0 1px;
}